{{ define "main" }}
    {{ partial "hero.html" . }}
    
    <div class="max-w-screen-xl mx-auto grid grid-rows-1 gap-8 -mt-4 p-4">
        <div class="relative grid grid-cols-1 sm:grid-cols-3 gap-4">
        {{ range .Site.Data.home.data.cards }}
            {{ partial "components/card.html" . }}
        {{ end }}
        </div>

        <div>
            <h2 class="text-center text-2xl p-8 font-extrabold sm:text-3xl">Our Project Goals</h2>
            {{ partial "goals.html" . }}
        </div>

        <div class="text-center max-w-3xl mx-auto [&>p>a>img]:mx-auto [&>p>a]:text-cyan-600 [&>p]:m-8">
            <h2 class="text-2xl p-8 font-extrabold sm:text-3xl">{{ .Site.Data.home.data.community.title }}</h2>

            {{ .Site.Data.home.data.community.text | markdownify }}
        </div>
    </div>
{{ end }}
