<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{- partial "favicons.html" }}
    <title>{{ block "title" . }}
        {{ if .IsHome }}
            {{ if .Site.Params.Description }}
                {{ .Site.Params.Description }} -  {{ .Site.Title }}
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        {{ else }}
            {{ .Title }} - {{ .Site.Title }}
        {{ end }}
    {{ end }}</title>
    {{- partialCached "css.html" . }}
    {{ $alpineJs := resources.Get "js/alpine.min.js" | fingerprint }}
    <script defer src="{{ $alpineJs.Permalink }}"></script>
</head>
