{{- $image := resources.Get "icons/logo.svg" }}
<section
    class="mx-auto max-w-screen-xl relative bg-no-repeat bg-center sm:bg-right bg-[length:26rem]"
    style="background-image: url('{{ $image.RelPermalink }}');"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
    class="relative py-24 sm:px-6 lg:flex lg:items-center px-4"
  >
    <div class="max-w-xl ltr:sm:text-left rtl:sm:text-right">
      <h1 class="font-black text-5xl">
        {{ .Site.Data.home.data.hero.header }}

        <strong class="bg-gradient-to-r from-havelock-blue-500 via-shakespeare-500 to-mantis-500 font-black text-transparent bg-clip-text">
        {{ .Site.Data.home.data.hero.subheader }}
        </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
        {{ .Site.Data.home.data.hero.tagline }}
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
            href="{{ .Site.Data.home.data.hero.buttons.get_started }}"
          class="block w-full rounded bg-shakespeare-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-shakespeare-700 focus:outline-none focus:ring active:bg-shakespeare-500 sm:w-auto"
        >
          Get Started
        </a>

        <a
          href="{{ .Site.Data.home.data.hero.buttons.learn_more }}"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-shakespeare-600 shadow hover:text-shakespeare-700 focus:outline-none focus:ring active:text-shakespeare-500 sm:w-auto"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
