<header>
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="flex items-center" href="/">
          <span class="sr-only">Home</span>
          {{ $image := resources.Get "icons/logo.svg" }}
          <img src="{{ $image.RelPermalink }}" class="h-8 mr-3">
          <span class="text-xl font-bold whitespace-nowrap">kcp.io</span>
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12 font-bold">
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
              {{- with index site.Menus "main" }}
              {{- range . }}
            <li>
              <a
                class="text-black transition hover:text-black/75"
                href="{{ .URL }}"
              >
                {{ .Name }}
              </a>
            </li>

              {{- end}}
              {{- end }}

            <li>
              <a
                class="text-black transition hover:text-black/75"
                href="/"
              >
                Blog
              </a>
            </li>

            <li>
              <a
                class="text-black transition hover:text-black/75"
                href="/"
              >
                Contribute
              </a>
            </li>

            <li>
              <a
                class="text-black transition hover:text-black/75"
                href="/"
              >
                GitHub
              </a>
            </li>
          </ul>
        </nav>

          <div class="block md:hidden">
            <button
              class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
